body{
    font-family: Arial, Helvetica, sans-serif;
}

.grid-holder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container{
    background-color: #bbbbbb ; 
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    height: 30vh
}

.carousel{
    grid-column: 1/4;
}

.recommended-cards{
    grid-column: 1/4;
}

.alternate-cards{
    grid-column: 4/5
}